.kcAiAudit {
    flex: 1;
    position: relative;
    line-height: 130%;
    display: inline-block;
    min-width: 112px;
  }
  .stepOne {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-smi) 0 var(--padding-sm);
  }
  .generativeAiAnalysis {
    position: relative;
    line-height: 130%;
  }
  .generativeAnalysis {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs) 0 0;
  }
  .redTeamingChild {
    height: 31px;
    width: 64px;
    position: relative;
    border-radius: var(--br-8xs);
    background-color: var(--color-firebrick);
    display: none;
  }
  .multiTurn,
  .redTeaming1 {
    margin: 0;
  }
  .multiTurnRedTeaming {
    position: relative;
    line-height: 130%;
    z-index: 1;
  }
  .redTeaming {
    border-radius: var(--br-8xs);
    background-color: var(--color-firebrick);
    flex-direction: row;
    justify-content: flex-start;
    padding: 3px var(--padding-9xs) var(--padding-11xs);
    text-align: center;
    font-size: var(--font-size-3xs);
    color: var(--color-white);
  }
  .analysisSteps,
  .redTeaming,
  .stepTwo {
    display: flex;
    align-items: flex-start;
  }
  .stepTwo {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
    text-align: left;
    font-size: var(--font-size-sm);
    color: var(--color-black);
  }
  .analysisSteps {
    width: 475px;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 0 0 var(--padding-xl);
    box-sizing: border-box;
    max-width: 100%;
    text-align: center;
    font-size: var(--font-size-base);
    color: var(--color-saddlebrown);
    font-family: var(--font-prociono);
  }
  .projectSetupChild {
    height: 431px;
    width: 770px;
    position: relative;
    border-radius: var(--br-8xs);
    background-color: var(--color-gainsboro-100);
    display: none;
    max-width: 100%;
  }
  .projectName {
    display: inline-block;
    min-width: 107px;
  }
  .administrator,
  .projectName {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 130%;
    font-weight: 400;
    font-family: inherit;
    z-index: 1;
  }
  .nameCombination,
  .nameCombination1,
  .projectNameInput {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .projectNameInput {
    width: 421px;
    justify-content: space-between;
    gap: var(--gap-xl);
    max-width: 100%;
  }
  .nameCombination,
  .nameCombination1 {
    width: 100%;
    border: 0;
    outline: 0;
    background-color: var(--color-whitesmoke-100);
    flex: 1;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25),
      0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: var(--br-10xs);
    justify-content: flex-start;
    padding: var(--padding-5xs) var(--padding-3xs) var(--padding-6xs);
    box-sizing: border-box;
    font-family: var(--font-inter);
    font-style: italic;
    font-size: var(--font-size-mini);
    color: var(--color-dimgray-100);
    min-width: 179px;
    z-index: 1;
  }
  .nameCombination1 {
    padding: var(--padding-5xs) var(--padding-4xs) var(--padding-6xs);
  }
  .combinedNames,
  .combinedNamesWrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .combinedNames {
    flex: 1;
    justify-content: flex-start;
    gap: 35px;
  }
  .combinedNamesWrapper {
    align-self: stretch;
    justify-content: flex-end;
    padding: 0 var(--padding-12xs) 0 0;
    box-sizing: border-box;
  }
  .selectAiBenchmark {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 130%;
    font-weight: 400;
    font-family: inherit;
    z-index: 1;
  }
  .datasetOptions {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 178px 0 180px;
  }
  .categoryCombinationChild {
    width: 185px;
    height: 153px;
    position: relative;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25),
      0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: var(--br-mini);
    background-color: var(--color-whitesmoke-100);
    display: none;
  }
  .agentharm,
  .div {
    position: relative;
    line-height: 130%;
    display: inline-block;
    min-width: 74px;
    z-index: 2;
  }
  .div {
    font-size: var(--font-size-xs);
    color: var(--color-dimgray-100);
    min-width: 7px;
  }
  .agentharmParent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-3xs);
    gap: var(--gap-8xs);
  }
  .harmfulness {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: inherit;
    line-height: 130%;
    font-weight: 400;
    font-family: inherit;
    z-index: 2;
  }
  .withSingleTurnRedTeaming {
    position: relative;
    line-height: 130%;
    display: inline-block;
    min-width: 119px;
    z-index: 3;
  }
  .redTeamingType {
    flex-direction: row;
    padding: 0 var(--padding-6xs) 0 var(--padding-5xs);
    text-align: left;
    font-size: 9px;
  }
  .categoryCombinationInner,
  .harmfulnessParent,
  .redTeamingType {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .harmfulnessParent {
    flex: 1;
    flex-direction: column;
  }
  .categoryCombinationInner {
    align-self: stretch;
    flex-direction: row;
    padding: 0 var(--padding-8xs) 0 var(--padding-7xs);
    text-align: center;
    font-size: var(--font-size-5xl);
  }
  .aiSafetyInstituteuk {
    position: relative;
    line-height: 130%;
    z-index: 2;
  }
  .aiSafetyInstituteukWrapper,
  .categoryCombination {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .aiSafetyInstituteukWrapper {
    flex-direction: row;
    padding: 0 var(--padding-xs) 0 var(--padding-smi);
    font-size: var(--font-size-xs);
    color: var(--color-dimgray-100);
  }
  .categoryCombination {
    flex: 1;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25),
      0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: var(--br-mini);
    background-color: var(--color-whitesmoke-100);
    flex-direction: column;
    padding: var(--padding-base) var(--padding-xl) var(--padding-3xs);
    box-sizing: border-box;
    gap: var(--gap-xl);
    min-width: 120px;
    z-index: 1;
  }
  .benchmarkCategories,
  .benchmarkList,
  .benchmarkSelection {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .benchmarkCategories {
    flex: 1;
    flex-direction: row;
    gap: var(--gap-mini);
    min-width: 250px;
  }
  .benchmarkList,
  .benchmarkSelection {
    align-self: stretch;
  }
  .benchmarkList {
    flex-direction: row;
    gap: var(--gap-mini);
    font-size: var(--font-size-sm);
    color: var(--color-saddlebrown);
  }
  .benchmarkSelection {
    flex-direction: column;
    gap: var(--gap-4xs);
  }
  .aPI,
  .enterYourModel {
    position: relative;
    line-height: 130%;
    z-index: 1;
  }
  .enterYourModel {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .aPI {
    font-size: var(--font-size-xs);
    color: var(--color-dimgray-100);
    display: inline-block;
    min-width: 7px;
  }
  .aPIKeyField,
  .aPIKeyFieldWrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .aPIKeyField {
    justify-content: flex-start;
    gap: var(--gap-7xs);
  }
  .aPIKeyFieldWrapper {
    width: 575px;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
    max-width: 100%;
  }
  .aPIKeyInput,
  .datasetSelection,
  .yourAPIKey {
    align-self: stretch;
    display: flex;
    justify-content: flex-start;
  }
  .yourAPIKey {
    width: 100%;
    border: 0;
    outline: 0;
    background-color: var(--color-whitesmoke-100);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25),
      0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: var(--br-10xs);
    flex-direction: row;
    align-items: flex-start;
    padding: var(--padding-5xs) var(--padding-3xs) var(--padding-6xs);
    box-sizing: border-box;
    font-family: var(--font-inter);
    font-style: italic;
    font-size: var(--font-size-mini);
    color: var(--color-dimgray-100);
    min-width: 250px;
    z-index: 1;
  }
  .aPIKeyInput,
  .datasetSelection {
    flex-direction: column;
    max-width: 100%;
  }
  .aPIKeyInput {
    align-items: flex-end;
    gap: var(--gap-4xs);
  }
  .datasetSelection {
    align-items: flex-start;
    gap: 19px;
  }
  .frameChild {
    height: 29px;
    width: 64px;
    position: relative;
    border-radius: var(--br-8xs);
    background-color: var(--color-darkslategray-200);
    display: none;
  }
  .clear {
    flex: 1;
    position: relative;
    font-size: var(--font-size-sm);
    line-height: 130%;
    font-family: var(--font-prociono);
    color: var(--color-white);
    text-align: center;
    display: inline-block;
    min-width: 48px;
    z-index: 2;
  }
  .clearButton,
  .rectangleParent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .rectangleParent {
    cursor: pointer;
    border: 0;
    padding: var(--padding-9xs) var(--padding-5xs) var(--padding-6xs);
    background-color: var(--color-darkslategray-200);
    flex: 1;
    border-radius: var(--br-8xs);
    justify-content: flex-start;
    z-index: 1;
  }
  .rectangleParent:hover,
  .runButton:hover {
    background-color: var(--color-dimgray-200);
  }
  .clearButton {
    justify-content: flex-end;
    padding: 0 var(--padding-6xs);
  }
  .frameParent,
  .projectDetails {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100%;
  }
  .frameParent {
    align-self: stretch;
    align-items: flex-end;
    gap: 16.5px;
  }
  .projectDetails {
    flex: 1;
    align-items: flex-start;
    gap: var(--gap-4xs);
  }
  .runButtonChild {
    height: 29px;
    width: 64px;
    position: relative;
    border-radius: var(--br-8xs);
    background-color: var(--color-darkslategray-200);
    display: none;
  }
  .run {
    flex: 1;
    position: relative;
    font-size: var(--font-size-sm);
    line-height: 130%;
    font-family: var(--font-prociono);
    color: var(--color-white);
    text-align: center;
    display: inline-block;
    min-width: 32px;
    z-index: 2;
  }
  .projectSetup,
  .root,
  .runButton {
    display: flex;
    justify-content: flex-start;
  }
  .runButton {
    cursor: pointer;
    border: 0;
    padding: var(--padding-9xs) var(--padding-base) var(--padding-6xs);
    background-color: var(--color-darkslategray-200);
    border-radius: var(--br-8xs);
    flex-direction: row;
    align-items: flex-start;
    z-index: 1;
  }
  .projectSetup,
  .root {
    max-width: 100%;
    align-items: flex-end;
    box-sizing: border-box;
  }
  .projectSetup {
    align-self: stretch;
    border-radius: var(--br-8xs);
    background-color: var(--color-gainsboro-100);
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    padding: var(--padding-mini) 28px var(--padding-base) 92px;
    gap: 0;
    row-gap: 20px;
    text-align: left;
    font-size: var(--font-size-lg);
    color: var(--color-black);
    font-family: var(--font-prociono);
  }
  .root {
    width: 800px;
    background-color: var(--color-white);
    flex-direction: column;
    padding: var(--padding-mid) var(--padding-mini) var(--padding-smi);
    gap: 7px;
    line-height: normal;
    letter-spacing: normal;
  }
  @media screen and (max-width: 1200px) {
    .kcAiAudit {
      flex: 1;
    }
    .redTeaming,
    .stepTwo {
      align-items: flex-start;
      justify-content: center;
    }
    .stepTwo {
      justify-content: flex-end;
    }
    .analysisSteps {
      align-self: stretch;
      width: auto;
      align-items: center;
      justify-content: flex-start;
    }
    .categoryCombination {
      width: auto;
      align-self: unset;
    }
    .projectSetup,
    .root {
      display: flex;
      width: 1200px;
      align-items: flex-start;
      justify-content: flex-start;
    }
    .projectSetup {
      flex: 1;
    }
    .root {
      height: auto;
    }
  }
  @media screen and (max-width: 750px) {
    .projectSetup {
      padding-left: 46px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 675px) {
    .combinedNames {
      gap: 17px;
      flex-wrap: wrap;
    }
    .datasetOptions {
      padding-left: 90px;
      padding-right: 89px;
      box-sizing: border-box;
    }
    .benchmarkList {
      flex-wrap: wrap;
    }
    .projectDetails {
      min-width: 100%;
    }
  }
  @media screen and (max-width: 450px) {
    .projectNameInput {
      flex-wrap: wrap;
    }
    .datasetOptions {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .harmfulness {
      font-size: var(--font-size-lgi);
      line-height: 25px;
    }
    .benchmarkCategories {
      flex-wrap: wrap;
    }
    .projectSetup {
      padding-left: var(--padding-xl);
      box-sizing: border-box;
    }
  }
  